@layer bf.base {
  .root {
    min-inline-size: 0;
    color: var(--bf-color-content-primary);
    background: var(--bf-color-surface-canvas);
    font-family:var(--bf-font-family-sans);
    font-size: var(--bf-font-size-base);
    line-height: var(--bf-line-height-base);
  }

  .root[data-color-scheme="light"] {
    color-scheme: light;
  }

  .root[data-color-scheme="dark"] {
    color-scheme: dark;
  }
}
